{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Can you help? Sure!</h2>
      <p class="text-muted feature-headline-caption">We love a helping hand.</p>
      <hr />
    </div>
    <div class="row">
      <div class="col-lg-12 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <h3>Join the mailing list</h3>
                <p class="text-muted">
                  Subscribe to our <a href="/sign-up-form/">mailing list</a> to
                  meet the most awesome people in the world!
                </p>
                <p class="text-muted">
                  You'll meet conservationists, biologists, other researchers
                  and scientists, and learn loads of cool stuff.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <h3>Got questions?</h3>
                <p class="text-muted">
                  Want to know more about where you can help out?
                </p>
                <p class="text-muted">
                  Mail us any time at
                  <a href="mailto:biodiversityconnections@gmail.com"
                    >biodiversityconnections@gmail.com</a
                  >
                  for details on how to donate.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
