{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% comment %} {% blocktrans %} {% endcomment %}

<!-- Insert latest blog entries and calls to action here. -->
<section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>What's happenin'?</h2>
                <p class="text-muted feature-headline-caption">Check out our <a href="{% url 'blog_post_list' %}">blog</a>.</p>
                <hr>
            </div>
            <div class="row">
    
                <div class="col-lg-12 my-auto">
                    <div class="container-fluid">

                               <!-- feature item 1 and 2 -->

    
    {% blog_recent_posts limit=4 category="news" as blog_posts %}
    {% for blog_post in blog_posts|slice:"0:2" %}

    <div class="col-lg-6">        
    <div class="feature-item">
    {% editable blog_post.title %}
    <h3>
        <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
    </h3>
    {% endeditable %}
    {% editable blog_post.publish_date %}
    <h6 class="post-meta">
        {% trans "Posted by" %}:
        {% with blog_post.user as author %}
        <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
        {% with blog_post.categories.all as categories %}
        {% if categories %}
        {% trans "in" %}
        {% for category in categories %}
        <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    </h6>
    {% endeditable %}
    
    {% comment %} {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
    {% block blog_post_list_post_featured_image %}
    <a href="{{ blog_post.get_absolute_url }}">
        <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
    </a>
    {% endblock %}
    {% endif %} {% endcomment %}
    
    {% editable blog_post.content %}
    {{ blog_post.description_from_content|safe }}
    {% endeditable %}

</div>
</div>
    {% endfor %}
    

    <!-- End feature item 1 and 2 -->

    </div>
    </div>
    </div>

    <div class="row">
            
                        <div class="col-lg-12 my-auto">
                            <div class="container-fluid">
        
                                       <!-- feature item 3 and 4 -->
        
            
            {% for blog_post in blog_posts|slice:"2:4" %}
        
            <div class="col-lg-6">        
            <div class="feature-item">
            {% editable blog_post.title %}
            <h3>
                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
            </h3>
            {% endeditable %}
            {% editable blog_post.publish_date %}
            <h6 class="post-meta">
                {% trans "Posted by" %}:
                {% with blog_post.user as author %}
                <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                {% endwith %}
                {% with blog_post.categories.all as categories %}
                {% if categories %}
                {% trans "in" %}
                {% for category in categories %}
                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
            </h6>
            {% endeditable %}
            
            {% comment %} {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
            {% block blog_post_list_post_featured_image %}
            <a href="{{ blog_post.get_absolute_url }}">
                <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 90 90 %}">
            </a>
            {% endblock %}
            {% endif %} {% endcomment %}
            
            {% editable blog_post.content %}
            {{ blog_post.description_from_content|safe }}
            {% endeditable %}
        
        </div>
        </div>
            {% endfor %}
            
        
            <!-- End feature item 3 and 4 -->
        
            </div>
            </div>
            </div>

    </div>
    
    
    
    
    
            
    </section>








<!-- Call to action -->

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Can you help? Sure!</h2>
            <p class="text-muted feature-headline-caption">We love a helping hand.</p>
            <hr>
        </div>
        <div class="row">

            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Join the mailing list</h3>
                                <p class="text-muted">Subscribe to our mailing list to meet the most awesome people in the world!</p>
                                <p class="text-muted">You'll meet conservationists, biologists, other researchers and scientists, and learn loads of cool stuff.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Donations welcome!</h3>
                                <p class="text-muted">Give us cash!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Insert events here -->

<section class="features" id="features">
    <div class="container">
        <div class="section-heading text-center">
            <h2>Upcoming Events</h2>
            <p class="text-muted feature-headline-caption">Wanna hang out?</p>
            <hr>
        </div>
        <div class="row">

            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Latest Event</h3>
                                <p class="text-muted">We did stuff.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Next next latest event</h3>
                                <p class="text-muted">We did more stuff.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Next latest event</h3>
                                <p class="text-muted">So many stuff</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3>Next next next latest event</h3>
                                <p class="text-muted">Stuff galore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

{% comment %} {% endblocktrans %} {% endcomment %}
{% endblock %}