{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% comment %} {% blocktrans %} {% endcomment %}

<!-- Latest blog posts -->
{% include "index_blog_section.html" %}    







<!-- Call to action -->

{% include "index_call_to_action.html" %} 



<!-- Insert events here -->
{% include "index_events_section.html" %}    


{% comment %} {% endblocktrans %} {% endcomment %}
{% endblock %}