{% load static wagtailuserbar demo_tags %}

<!DOCTYPE html>
<html lang="en">

</html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">

</html>
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        {% block title %} {% if self.seo_title %} {{ self.seo_title }} {% else %} {{ self.title }} {% endif %} {% endblock %} {% block title_suffix %} {% with self.get_site.site_name as site_name %} {% if site_name %}- {{ site_name }} {% endif %} {% endwith%}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}"> -->

    <!-- Puput CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'puput/css/puput.css' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0-beta-dist/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'new-age/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'new-age/css/new-age.css' %}">

</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %} {% block menu %} {% get_site_root as site_root %} {% top_menu parent=site_root calling_page=self %} {% endblock %}


    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Biodiversity Connections</h1>
                        <p class="slogan">Conservation and science meetups since 201X.</p>
                        <!-- <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Eat me.</a> -->
                    </div>
                    <div class="col-lg-5 my-auto">
                    </div>
                </div>
            </div>
    </header>


    <p>{% block content %}{% endblock %}</p>

    <!-- Contact section adapted from New Age -->
    <section class="contact bg-primary" id="contact">
        <div class="container">
            <h2>We
                <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="https://twitter.com/BioDconnections" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="https://www.facebook.com/groups/1632856730333768/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item email">
                    <a href="mailto:biodiversityconnection@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!--  Footer adapted from New Age -->
    <footer>
        <div class="container">
            <p>&copy; All Rights Reserved.</p>
            <!-- <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul> -->
        </div>
    </footer>


    <!-- {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script> -->



    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'new-age/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'new-age/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'new-age/vendor/popper/popper.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'bootstrap-4.0.0-beta-dist/js/bootstrap.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{% static 'new-age/js/new-age.min.js' %}"></script>
</body>

</html>