{% load demo_tags wagtailcore_tags %} {% get_site_root as site_root %} {# Implementation of bootstrap theme dropdown menu- shows top level links and their children #}

<!-- <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# Link to home page #}
            <a href="{% pageurl site_root %}" class="navbar-brand" title="{{ site_root.title }}" data-placement="bottom">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"> -->

<!-- Adapted from New Age. -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <!-- Adapted from New Age. -->

        <!-- Original top_menu.html. -->
        {# Link to home page #}
        <a href="{% pageurl site_root %}" class="navbar-brand" title="{{ site_root.title }}" data-placement="bottom">
            BC
            <i class="glyphicon glyphicon-home"></i>
        </a>
        <!-- Original top_menu.html. -->

        <!-- Adapted from New Age. -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Adapted from New Age. -->

                <!-- Original top_menu.html. -->
                {% for menuitem in menuitems %}
                <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                    {% if menuitem.show_dropdown %}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }}
                        <b class="caret"></b>
                    </a> {% top_menu_children parent=menuitem %} {% else %}
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>&nbsp&nbsp&nbsp {% endif %}
                </li>
                {% endfor %}
                <!-- Original top_menu.html. -->

                <!-- Adapted from New Age. -->
            </ul>
        </div>
    </div>
</nav>
<!-- Adapted from New Age. -->

<!-- </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url 'search' %}" method="get">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search…" value="{{ search_query }}" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->